    <section class="top-content">
        <div class="maxwidth">
            <div class="icon-play">
                <img src="app/images/icon_play.svg" alt="">
            </div>
            <h1 class="top-content-title">Come and meet our enterprise and development company</h1>
            <h2 class="top-content-subtitle">Come and see our products, we have several options that helped you in whatever you need, covering different areas, let's go meet them!</h2>
            <a href="#" class="button">Let's Go </a>
        </div>
    </section>

    <main class="grid">

        <article>
            <img src="app/images/imgC2.png" alt="Sample photo">
            <div class="text">
                <h3>Paulo Santos</h3>
                <p>Baixe agora o currículo de Paulo Santos, assim saberá mais sobre ótimo desenvolvedor.</p>
                <a href="#" class="button">Download</a>
            </div>
        </article>

        <article>
            <img src="app/images/imgC2.png" alt="Sample photo">
            <div class="text">
                <h3>Vitor Busnardo</h3>
                <p>Baixe agora o currículo de Vitor Busnardo, assim saberá mais sobre ótimo desenvolvedor.</p>
                <a href="#" class="button">Download</a>   
            </div>
        </article>

        <article>
            <img src="app/images/imgC2.png" alt="Sample photo">
            <div class="text">
                <h3>Gabriel Vicentin</h3>
                <p>Baixe agora o currículo de Gabriel Vicentin, assim saberá mais sobre ótimo desenvolvedor.</p>
                <a href="#" class="button">Download</a>
            </div>
        </article>

    </main>

    <a href="https://api.whatsapp.com/send?phone=5517981806259&text=Ol%C3%A1,%20estou%20interessado%20em%20seus%20SERVISOS!%20"> <img src="app/images/Whatsapp.png" alt="" id="whatsapp"> </a>

    <a onclick="backToTop" href="#" id="fixed"> <img src="app/images/PlanetEarth.png" alt="" id="planet"> <span class="hidden">Top</span></a>

    