<footer class="footer" id="contact" >
    <ul class="footer-menushare">

        <li><a href="#" class="icon-twitter" ><span class="hidden">Twitter</span></a></li>
        <li><a href="#" class="icon-instagram"><span class="hidden">Instagram</span></a></li>
        <li><a href="https://github.com/VitorBusnardo" class="icon-github"><span class="hidden">GitHub</span></a></li>
        <li><a href="#" class="icon-linkedin"><span class="hidden">Linkedin</span></a></li>
        <li><a href="#" class="icon-paypal"><span class="hidden">PayPal</span></a></li>

    </ul>

    <p>Copyright © 2020 All Rights Reserved</p> <br>
    <p>
        Vitor Busnardo - Developer ( Front - End / Back - End ) +55 17 981806259
    </p>

    <p>
        busnardovitor@gmail.com
    </p>

    <p>
        Paulo Santos - Developer ( Front - End / Back - End ) +55 17 997263634
    </p>

    <p>
        ps0465882@gmail.com
    </p>
</footer>

<script>

    window.onscroll = function () {

        scroll();

    };

    function scroll() {

        let btn = document.getElementById("fixed");
        if (document.documentElement.scrollTop > 50) {

            btn.style.display = "block";

        } else {

            btn.style.display = "none";

        }

    }

    function backToTop() {

        document.documentElement.scrollTop = 0;

    }

</script>


</body>

</html>