<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <title>Projeto TCC</title>

    <link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
    
    <link rel="sortcut icon" href="/app/images/IconPlanetEarth.png"/>

    <link href="/app/icomoon/style.css" rel="stylesheet">
    <link href="/app/css/normalize.css" rel="stylesheet">
    <link href="/app/css/main.css" rel="stylesheet">
    <link href="/app/css/box.css" rel="stylesheet">

</head>

<body>

    <div id="bg"></div>
<div class="box">
    <img src="/app/images/Logo1198x670.jpg">
    <a href="#Top" id="close">X</a>
</div>


    <header id="Top" class="top-header clearfix">
        <div class="maxwidth">
            <img src="/app/images/logo_mob.png" alt="logotipo Vitor e Baiano" class="top-header-logo">

            <nav class="top-nav">
                <ul>
                    <li> <a href="home.html">Home</a></li>
                    <li> <a href="#">About Us</a></li>
                    <li> <a href="#contact">Contact</a></li>
                    <li> <a href="#">Curriculum</a></li>
                    <li> <a href="products.html">Products</a> </a> </li>
                    <li> <a href="register.html">Register</a></li>
                    <li> <a href="#">Services</a></li>
                </ul>
            </nav>
        </div>

    </header>