
    <section class="top-content">
        <div class="maxwidth">
            <div class="icon-play">
                <img src="app/images/icon_play.svg" alt="">
            </div>
            <h1 class="top-content-title">Venha conhecer nossa empresa e empresa de desenvolvimento</h1>
            <h2 class="top-content-subtitle">Venha conhecer nossos produtos, temos várias opções que te auxiliam no que você precisa, abrangendo diferentes áreas, vamos conhecê-los!
            </h2>
            <a href="#" class="button">Vamos lá</a>
        </div>
    </section>

    <section class="middle-content row">
        <div class="maxwidth">
            <article class="col-1_4">
                <span class="icon-stopwatch"></span>
                <h3 class="middle-content-title">Tempo de criação</h3>
                <p> Garantimos que o tempo de criação da aplicação desejada é o mais curto possível. Prestando assim atenção ao máximo aos requisitos solicitados pelo seu cliente, efetuando a entrega no prazo acordado.</p>
            </article>

            <article class="col-1_4">
                <span class="icon-stats-bars2"></span>
                <h3 class="middle-content-title">Programas</h3>
                <p>Nossos programas são desenvolvidos com excelente tecnologia, o que garante total desempenho com um design super moderno, com uma segurança ainda maior para garantir a melhor experiência possível.</p>
            </article>

            <article class="col-1_4">
                <span class="icon-clock"></span>
                <h3 class="middle-content-title">alta qualidade</h3>
                <p>Alta qualidade em todos os serviços que oferecemos, contando com altíssima qualidade em todos os pontos, até mesmo no comprometimento do atendimento ao código por trás de tudo, com excelente suporte.</p>
            </article>

            <article class="col-1_4">
                <span class="icon-cog"></span>
                <h3 class="middle-content-title">Desenvolvimento</h3>
                <p>Equipe de dissolução altamente treinada para realizar qualquer atividade com extrema qualidade, utilizando diferentes linguagens de programação para atender aos requisitos desejados. Cobrindo diversas áreas como WebSite, Mobile, Desktop, entre outras.</p>
            </article>
        </div>
    </section>


    <section class="main-content row">
        <div class="maxwidth">
            <article class="main-content-article col-1_2">
                <h3 class="main-content-title">Design moderno</h3>
                <p>Garantimos que a nossa equipa possui excelentes competências de design, desenvolvendo assim um produto muito bonito e moderno, garantindo total qualidade e satisfação do cliente. Basta baixar alguns de nossos produtos grátis!
                </p>
            </article>

            <article class="main-content-article col-1_2">
                <h3 class="main-content-title">Integridade da Empresa</h3>
                <p>Acima de tudo o que oferecemos a você, cliente, vem nossa integridade, nossa honestidade e compaixão. Garantimos empenho e profissionalismo em todos os pontos que nos dizem respeito, em relação a todas as atividades realizadas.
                </p>
            </article>

            <article class="main-content-article clearfix col-1_2">
                <h3 class="main-content-title">Programas grátis</h3>
                <p>Nossa empresa utiliza programas gratuitos como forma de divulgar nosso trabalho, utilizando-os para auxiliar e contribuir com a comunidade de desenvolvedores. sinta-se à vontade para usar e desfrutar dessas maravilhosas ferramentas, compostas por tecnologia de primeira linha.
                </p>
                <a href="?pagina=products" class="button">Vamos começar </a>
            </article>

            <article class="main-content-article clearfix col-1_2">
                <h3 class="main-content-title">Doe para ficar online</h3>
                <p>Oferecemos programas gratuitos para você, encontrados no menu de produtos, com a intuição de ajudá-lo a seguir. Pedimos uma pequena doação de qualquer valor para continuar online, oferecendo assim mais produtos grátis para você.
                </p>

                <a href="#bg" id="Donate" class="button">Doe agora</a>
            </article>
        </div>
    </section>

    <a href="https://api.whatsapp.com/send?phone=5517981806259&text=Ol%C3%A1,%20estou%20interessado%20em%20seus%20SERVISOS!%20"> <img src="app/images/Whatsapp.png" alt="" id="whatsapp"> </a>

    <a onclick="backToTop" href="#" id="fixed"> <img src="app/images/PlanetEarth.png" alt="" id="planet"> <span class="hidden">Top</span></a>
