<div id="dv-modal" class="modal">
    <div class="modal-content">
        <center>
            <div class="modal-body" style="
                padding-top: 1px;
                padding-bottom: 24px;
                ">
                <form class="form-register" method="POST" action="?pagina=products&metodo=insert">

                    <h2 class="form__titulo">CRIAR CONTA</h2>

                    <div class="contenedor-inputs">

                        <input type="text" name="name" placeholder="Nome" class="input-100" required>

                        <input type="text" name="lastname" placeholder="Sobrenome" class="input-100" required>

                        <input type="text" name="username" placeholder="Nome de usuario" class="input-100" required>

                        <input type="email" name="email" placeholder="E-mail" class="input-100" required>

                        <input type="password" name="password" placeholder="Senha" class="input-100" required>

                        <input type="text" name="tel" placeholder="Telefone" class="input-100" required>

                        <input type="submit" value="Registrar" class="btn-enviar" href="../images/Cat.png" onclick="Baixar('[wm-moderno]')" wm-moderno>


                        <p class="form_link" href="#Top" onclick="openModalForm('dv-modal')">Já Possui Conta?<a href="#Top"> Click AQUI!</a></p>

                </form>
        </center>
    </div>
</div>
</div>
<section class="top-content">
    <div class="maxwidth">
        <div class="icon-play">
            <img src="app/images/icon_play.svg" alt="">
        </div>
        <h1 class="top-content-title">Venha conhecer nossa empresa de empreendimentos e desenvolvimento</h1>
        <h2 class="top-content-subtitle">Venha ver nossos produtos, temos várias opções que ajudaram você em qualquer coisa você precisa, cobrindo diferentes áreas, vamos encontrá-los!</h2>
        <a href="#" class="button">Vamos </a>
    </div>
</section>

<section class="middle-content row">
    <div class="maxwidth">
        <article class="col-1_4">
            <h3 class="middle-content-title-numeric">
                <div class="contador">54</div>
            </h3>
            <h3 class="middle-content-title">Serviços entregues</h3>
        </article>

        <article class="col-1_4">
            <h3 class="middle-content-title-numeric">
                <div class="contador">200</div>
            </h3>
            <h3 class="middle-content-title">Todos os downloads</h3>
        </article>

        <article class="col-1_4">
            <h3 class="middle-content-title-numeric">
                <div class="contador">323</div>
            </h3>
            <h3 class="middle-content-title">Todas as doações</h3>
        </article>

        <article class="col-1_4">
            <h3 class="middle-content-title-numeric">
                <div class="contador">72</div>
            </h3>
            <h3 class="middle-content-title">Serviços Contratados</h3>
        </article>
    </div>
</section>


<section class="main-content row">
    <div class="maxwidth">

        <article class="main-content-article clearfix col-1_2">
            <img src="app/images/PlanetAzul.png" id="product-icon">
            <h3 class="main-content-title"> Intermedix</h3>
            <p>Intermedix é um programa de desktop, desenvolvido em java, que tem a funcionalidade de gerenciar e administrar seu negócio. Ele armazena informações sobre sua empresa, para a geração de relatórios, gráficos, entre Outros.
            </p>
            <a href="#" onclick="openModal('dv-modal')" class="button"> Baixar</a>
        </article>

        <article id="Planets" class="main-content-article clearfix col-1_2">
            <img src="app/images/PlanetVermelho.png" id="product-icon">
            <h3 class="main-content-title">Em Desenvolvimento</h3>
            <p>Este produto ainda está em desenvolvimento, por favor, espere um pouco. Nós garantimos que em breve lançaremos mais e mais produtos para você, com qualidade e segurança. Você pode ter certeza de que tudo será completamente livre.
            </p>
            <a href="#" class="button"> Baixar </a>
        </article>

        <article class="main-content-article clearfix col-1_2">
            <img src="app/images/PlanetVermelhoClaro.png" id="product-icon">
            <h3 class="main-content-title"> Em Desenvolvimento</h3>
            <p>Este produto ainda está em desenvolvimento, por favor, espere um pouco. Nós garantimos que em breve lançaremos mais e mais produtos para você, com qualidade e segurança. Você pode ter certeza de que tudo será completamente livre.
            </p>
            <a href="#" class="button"> Baixar </a>
        </article>

        <article class="main-content-article clearfix col-1_2">
            <img src="app/images/PlanetLaranja.png" id="product-icon">
            <h3 class="main-content-title"> Em Desenvolvimento</h3>
            <p>Este produto ainda está em desenvolvimento, por favor, espere um pouco. Nós garantimos que em breve lançaremos mais e mais produtos para você, com qualidade e segurança. Você pode ter certeza de que tudo será completamente livre.
            </p>
            <a href="#" class="button"> Baixar </a>
        </article>

        <article class="main-content-article clearfix col-1_2">
            <img src="app/images/PlanetVermelhoClaro.png" id="product-icon">
            <h3 class="main-content-title"> Em Desenvolvimento</h3>
            <p>Este produto ainda está em desenvolvimento, por favor, espere um pouco. Nós garantimos que em breve lançaremos mais e mais produtos para você, com qualidade e segurança. Você pode ter certeza de que tudo será completamente livre.
            </p>
            <a href="#" class="button"> Baixar </a>
        </article>

        <article class="main-content-article clearfix col-1_2">
            <img src="app/images/PlanetAmareloClaro.png" id="product-icon">
            <h3 class="main-content-title"> Em Desenvolvimento</h3>
            <p>Este produto ainda está em desenvolvimento, por favor, espere um pouco. Nós garantimos que em breve lançaremos mais e mais produtos para você, com qualidade e segurança. Você pode ter certeza de que tudo será completamente livre.
            </p>
            <a href="#" class="button"> Baixar </a>
        </article>

        <article class="main-content-article clearfix col-1_2">
            <img src="app/images/PlanetLaranjaAmarelo.png" id="product-icon">
            <h3 class="main-content-title"> Em Desenvolvimento</h3>
            <p>Este produto ainda está em desenvolvimento, por favor, espere um pouco. Nós garantimos que em breve lançaremos mais e mais produtos para você, com qualidade e segurança. Você pode ter certeza de que tudo será completamente livre.
            </p>
            <a href="#" class="button"> Baixar </a>
        </article>

        <article class="main-content-article clearfix col-1_2">
            <img src="app/images/PlanetMoon.png" id="product-icon">
            <h3 class="main-content-title"> Em Desenvolvimento</h3>
            <p>Este produto ainda está em desenvolvimento, por favor, espere um pouco. Nós garantimos que em breve lançaremos mais e mais produtos para você, com qualidade e segurança. Você pode ter certeza de que tudo será completamente livre.
            </p>
            <a href="#" class="button"> Baixar </a>
        </article>

        <article class="main-content-article clearfix col-1_2">
            <img src="app/images/PlanetAzulClaro.png" id="product-icon">
            <h3 class="main-content-title"> Em Desenvolvimento</h3>
            <p>Este produto ainda está em desenvolvimento, por favor, espere um pouco. Nós garantimos que em breve lançaremos mais e mais produtos para você, com qualidade e segurança. Você pode ter certeza de que tudo será completamente livre.
            </p>
            <a href="#" class="button"> Baixar </a>
        </article>

        <article class="main-content-article clearfix col-1_2">
            <img src="app/images/PlanetAmarelo.png" id="product-icon">
            <h3 class="main-content-title"> Em Desenvolvimento</h3>
            <p>Este produto ainda está em desenvolvimento, por favor, espere um pouco. Nós garantimos que em breve lançaremos mais e mais produtos para você, com qualidade e segurança. Você pode ter certeza de que tudo será completamente livre.
            </p>
            <a href="#" class="button"> Baixar </a>
        </article>

    </div>
</section>

<a
    href="https://api.whatsapp.com/send?phone=5517981806259&text=Ol%C3%A1,%20estou%20interessado%20em%20seus%20SERVISOS!%20">
    <img src="../images/Whatsapp.png" alt="" id="whatsapp"> </a>

<a onclick="backToTop" href="#" id="fixed"> <img src="app/images/PlanetEarth.png" alt="" id="planet"> <span
        class="hidden">Top</span></a>


<script>
    window.onscroll = function () {

        scroll();

    };
    function ativaContador(e) {

        $('.contador').each(function () {
            $(this).prop('Counter', 0).animate({
                Counter: $(this).text()
            }, {
                duration: 8000,
                easing: 'swing',
                step: function (now) {

                    $(this).text(Math.ceil(now));
                },
                complete: function () {
                    $(this).stop(true, true)
                },
            });

        });
    }

    $(window).scroll(function (e) {

        var alturaBody = $(window).height();
        var distanciaElemento = $('.contador').offset().top;
        var posicaoScroll = $(this).scrollTop();
        var alturaElemento = $('.contador').outerHeight();

        if (posicaoScroll > (distanciaElemento + alturaElemento - alturaBody)) {
            ativaContador();
        }

    });

    function scroll() {

        let btn = document.getElementById("fixed");
        if (document.documentElement.scrollTop > 50) {

            btn.style.display = "block";

        } else {

            btn.style.display = "none";

        }

    }
    function openModal(mn) {
        let modal = document.getElementById(mn);

        if (typeof modal == 'undefined' || modal === null)
            return;

        modal.style.display = 'Block';
       

    }

    function openModalForm(Componente) {
        let componente = document.getElementById(Componente);
        if(typeof componente == 'undefined' || componente === null) {
            return;
        }
        componente.sytle.display = 'none';
        document.body.sytle.overflow = 'visible';
    }
    function openModalForm(mn) {
        let modal = document.getElementById(mn);

        if (typeof modal == 'undefined' || modal === null)
            return;

        modal.style.display = 'none';
        

    }

    function closeModal(mn) {
        let modal = document.getElementById(mn);

        if (typeof modal == 'undefined' || modal === null)
            return;

        modal.style.display = 'none';
        document.body.style.overflow = 'auto';
    }

    function backToTop() {

        document.documentElement.scrollTop = 0;

    }
</script>