

    <section class="top-content">
        <div class="maxwidth">
            <div class="icon-play">
                <img src="app/images/icon_play.svg" alt="">
            </div>
            <h1 class="top-content-title">Venha conhecer nossa empresa e empresa de desenvolvimento</h1>
            <h2 class="top-content-subtitle">
                Venha conhecer nossos produtos, temos várias opções que te auxiliam no que você precisa, abrangendo diferentes áreas, vamos conhecê-los!</h2>
            <a href="#" class="button">Vamos lá </a>
        </div>
    </section>

    <section class="middle-content row">
        <div class="maxwidth">
            <article class="col-1_4">
                <span class="icon-stopwatch"></span>
                <h3 class="middle-content-title">Tempo de criação</h3>
                <p> Garantimos que o tempo de criação da aplicação desejada é o mais curto possível. Prestando assim atenção ao máximo aos requisitos solicitados pelo seu cliente, efetuando a entrega no prazo acordado.</p>
            </article>

            <article class="col-1_4">
                <span class="icon-stats-bars2"></span>
                <h3 class="middle-content-title">Programas</h3>
                <p>Nossos programas são desenvolvidos com excelente tecnologia, o que garante total desempenho com um design super moderno, com uma segurança ainda maior para garantir a melhor experiência possível.</p>
            </article>

            <article class="col-1_4">
                <span class="icon-clock"></span>
                <h3 class="middle-content-title">alta qualidade</h3>
                <p>Alta qualidade em todos os serviços que oferecemos, contando com altíssima qualidade em todos os pontos, até mesmo no comprometimento do atendimento ao código por trás de tudo, com excelente suporte.</p>
            </article>

            <article class="col-1_4">
                <span class="icon-cog"></span>
                <h3 class="middle-content-title">Desenvolvimento</h3>
                <p>Equipe de dissolução altamente treinada para realizar qualquer atividade com extrema qualidade, utilizando diferentes linguagens de programação para atender aos requisitos desejados. Cobrindo diversas áreas como WebSite, Mobile, Desktop, entre outras.</p>
            </article>
        </div>
    </section>

    <main class="grid">

        <article>
            <img src="app/images/ImageMobile.jpg" alt="Sample photo">
            <div class="text">
                <h3>Aplicativo móvel
                </h3>
                <p>Também com muita atividade na área das aplicações mobile, a Sy-Tecb também oferece serviços para isso, desenvolvendo qualquer tipo de aplicação para o seu smartphone.</p>
                <a href="https://api.whatsapp.com/send?phone=5517981806259&text=Ol%C3%A1%2C%20estou%20interessado%20na%20cria%C3%A7%C3%A3o%20de%20uma%20Aplica%C3%A7%C3%A3o%20Mobile!" class="button">Contrate agora
                </a>
            </div>
        </article>

        <article>
            <img src="app/images/ImageDesktop.jpg" alt="Sample photo">
            <div class="text">
                <h3>Aplicativo de desktop</h3>
                <p> Sy-tecb possui grande experiência no desenvolvimento de aplicativos para computadores (Windows, MacOS e Linux). Para ter seu próprio sistema? Apenas nos contrate.</p>
                <a href="https://api.whatsapp.com/send?phone=5517981806259&text=Ol%C3%A1%2C%20estou%20interessado%20na%20cria%C3%A7%C3%A3o%20de%20uma%20Aplica%C3%A7%C3%A3o%20Desktop!" class="button">Contrate agora</a>
            </div>
        </article>

        <article>
            <img src="app/images/ImageBD.jpg" alt="Sample photo">
            <div class="text">
                <h3>Base de dados</h3>
                <p>Também trabalhamos no desenvolvimento de grandes bancos de dados. Desenvolvendo para qualquer tipo de performance, seja para aplicativos, servidores, entre outros.</p>
                <a href="https://api.whatsapp.com/send?phone=5517981806259&text=Ol%C3%A1%2C%20estou%20interessado%20na%20cria%C3%A7%C3%A3o%20de%20um%20Banco%20de%20Dados!" class="button">Contrate agora
                </a>
            </div>
        </article>

        <article>
            <img src="app/images/ImageWeb.jpg" alt="Sample photo">
            <div class="text">
                <h3>Website</h3>
                <p>Para ter um site para o seu negócio? Nós da Sy-Tecb desenvolvemos sites totalmente tecnológicos e modernos, basta entrar em contato com nossa equipe. Garantimos total segurança e comprometimento. O que você está esperando?</p>
                <a href="https://api.whatsapp.com/send?phone=5517981806259&text=Ol%C3%A1%2C%20estou%20interessado%20na%20cria%C3%A7%C3%A3o%20de%20um%20Site!" class="button">Contrate agora</a>
            </div>
        </article>

        <article>
            <img src="app/images/ImageFront.jpg" alt="Sample photo">
            <div class="text">
                <h3>Front-end</h3>
                <p>Também oferecemos o serviço de design do seu site ou aplicação (Front-end). Este serviço é perfeito para você cliente que já tem parte do projeto feito e busca uma finalização profissional.</p>
                <a href="https://api.whatsapp.com/send?phone=5517981806259&text=Ol%C3%A1%2C%20estou%20interessado%20na%20cria%C3%A7%C3%A3o%20de%20um%20Front-End!" class="button">Contrate agora</a>
            </div>
        </article>

        <article>
            <img src="app/images/ImageBack.jpg" alt="Sample photo">
            <div class="text">
                <h3>Back-end</h3>
                <p>Realizamos o serviço de criação do código fonte da sua aplicação (Back-end). Este serviço é perfeito para você cliente que já tem parte do projeto feito e busca uma finalização profissional.</p>
                <a href="https://api.whatsapp.com/send?phone=5517981806259&text=Ol%C3%A1%2C%20estou%20interessado%20na%20cria%C3%A7%C3%A3o%20de%20um%20Back-End!" class="button">Contrate agora
                </a>
            </div>
        </article>
    </main>

    <a href="https://api.whatsapp.com/send?phone=5517981806259&text=Ol%C3%A1,%20estou%20interessado%20em%20seus%20SERVISOS!%20"> <img src="app/images/Whatsapp.png" alt="" id="whatsapp"> </a>

    <a onclick="backToTop" href="#" id="fixed"> <img src="app/images/PlanetEarth.png" alt="" id="planet"> <span class="hidden">Top</span></a>

