<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <title>Projeto TCC</title>

    <link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>

    <link rel="sortcut icon" href="/app/images/IconPlanetEarth.png" />

    <link href="d:/Users/USUARIO\Documents/ProjetoSite-TCC-Desenvolvimento-de-Sistemas/app/icomoon/style.css" rel="stylesheet">
    <link href="d:/Users/USUARIO\Documents/ProjetoSite-TCC-Desenvolvimento-de-Sistemas/app/css/normalize.css" rel="stylesheet">
    <link href="d:/Users/USUARIO\Documents/ProjetoSite-TCC-Desenvolvimento-de-Sistemas/app/css/main.css" rel="stylesheet">
    <link href="d:/Users/USUARIO\Documents/ProjetoSite-TCC-Desenvolvimento-de-Sistemas/app/css/box.css" rel="stylesheet">
    <link href="d:/Users/USUARIO\Documents/ProjetoSite-TCC-Desenvolvimento-de-Sistemas/app/css/grid.css" rel="stylesheet">


</head>

<body>

    <header id="Top" class="top-header clearfix">
        <div class="maxwidth">

            <img src="d:/Users/USUARIO\Documents/ProjetoSite-TCC-Desenvolvimento-de-Sistemas/app/images/LogoTecb.png" class="top-header-logo">

            <nav class="top-nav">
                <ul>
                    <li> <a href="home.html">Home</a></li>
                    <li> <a href="#contact">Contact</a></li>
                    <li> <a href="curriculum.html">Curriculum</a></li>
                    <li> <a href="products.html">Products</a></li>
                    <li> <a href="register.html">Register</a></li>
                    <li> <a href="#">Services</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="top-content">
        <div class="maxwidth">
            <div class="icon-play">
                <img src="d:/Users/USUARIO\Documents/ProjetoSite-TCC-Desenvolvimento-de-Sistemas/app/images/icon_play.svg" alt="">
            </div>
            <h1 class="top-content-title">Come and meet our enterprise and development company</h1>
            <h2 class="top-content-subtitle">Come and see our products, we have several options that helped you in whatever you need, covering different areas, let's go meet them!</h2>
            <a href="#" class="button">Let's Go </a>
        </div>
    </section>

    <section class="middle-content row">
        <div class="maxwidth">
            <article class="col-1_4">
                <span class="icon-stopwatch"></span>
                <h3 class="middle-content-title">Creation time</h3>
                <p> We guarantee that the creation time of the desired application is as short as possible. Thus paying attention to the maximum to the requirements requested by you customer, making the delivery within the agreed period.</p>
            </article>

            <article class="col-1_4">
                <span class="icon-stats-bars2"></span>
                <h3 class="middle-content-title">Software</h3>
                <p>Our programs are developed with excellent technology, which guarantees total performance with a super modern design, with an even greater security to guarantee the best experience possible.</p>
            </article>

            <article class="col-1_4">
                <span class="icon-clock"></span>
                <h3 class="middle-content-title">high quality</h3>
                <p>High quality in all the services offered by us, counting on an extremely high quality in all points, even in the commitment of the service to the code behind everything, with excellent support.</p>
            </article>

            <article class="col-1_4">
                <span class="icon-cog"></span>
                <h3 class="middle-content-title">Development</h3>
                <p>Highly trained dissolution team to perform any activity with extreme quality, using different programming languages ​​to meet the desired requirements. Covering several areas such as WebSite, Mobile, Desktop, among others.</p>
            </article>
        </div>
    </section>

    <main class="grid">

        <article>
            <img src="d:/Users/USUARIO\Documents/ProjetoSite-TCC-Desenvolvimento-de-Sistemas/app/images/ImageMobile.jpg" alt="Sample photo">
            <div class="text">
                <h3>Mobile application</h3>
                <p>Also with a lot of activity in the area of ​​mobile applications, Sy-Tecb also offers services for this, developing any type of application for your smartphone.</p>
                <a href="https://api.whatsapp.com/send?phone=5517981806259&text=Ol%C3%A1%2C%20estou%20interessado%20na%20cria%C3%A7%C3%A3o%20de%20uma%20Aplica%C3%A7%C3%A3o%20Mobile!" class="button">Hire Now</a>
            </div>
        </article>

        <article>
            <img src="d:/Users/USUARIO\Documents/ProjetoSite-TCC-Desenvolvimento-de-Sistemas/app/images/ImageDesktop.jpg" alt="Sample photo">
            <div class="text">
                <h3>Desktop application</h3>
                <p>Sy-tech has great experience in developing computer applications (Windows, MacOS and Linux). In order to have your own system? Just contract us.</p>
                <a href="https://api.whatsapp.com/send?phone=5517981806259&text=Ol%C3%A1%2C%20estou%20interessado%20na%20cria%C3%A7%C3%A3o%20de%20uma%20Aplica%C3%A7%C3%A3o%20Desktop!" class="button">Hire Now</a>
            </div>
        </article>

        <article>
            <img src="d:/Users/USUARIO\Documents/ProjetoSite-TCC-Desenvolvimento-de-Sistemas/app/images/ImageBD.jpg" alt="Sample photo">
            <div class="text">
                <h3>Database</h3>
                <p>We also work on the development of large databases. Developing for any type of performance, be it for applications, servers, among others.</p>
                <a href="https://api.whatsapp.com/send?phone=5517981806259&text=Ol%C3%A1%2C%20estou%20interessado%20na%20cria%C3%A7%C3%A3o%20de%20um%20Banco%20de%20Dados!" class="button">Hire Now</a>
            </div>
        </article>

        <article>
            <img src="d:/Users/USUARIO\Documents/ProjetoSite-TCC-Desenvolvimento-de-Sistemas/app/images/ImageWeb.jpg" alt="Sample photo">
            <div class="text">
                <h3>Website</h3>
                <p>In order to have a website for your business? We at Sy-Tecb develop totally technological and modern websites, just contact our team. We guarantee total security and commitment. What are you waiting for?</p>
                <a href="https://api.whatsapp.com/send?phone=5517981806259&text=Ol%C3%A1%2C%20estou%20interessado%20na%20cria%C3%A7%C3%A3o%20de%20um%20Site!" class="button">Hire Now</a>
            </div>
        </article>

        <article>
            <img src="d:/Users/USUARIO\Documents/ProjetoSite-TCC-Desenvolvimento-de-Sistemas/app/images/ImageFront.jpg" alt="Sample photo">
            <div class="text">
                <h3>Front-end</h3>
                <p>We also offer the design service for your website or your application (Front-end). This service is perfect for you client who already has part of the project done and seeks a professional completion.</p>
                <a href="https://api.whatsapp.com/send?phone=5517981806259&text=Ol%C3%A1%2C%20estou%20interessado%20na%20cria%C3%A7%C3%A3o%20de%20um%20Front-End!" class="button">Hire Now</a>
            </div>
        </article>

        <article>
            <img src="d:/Users/USUARIO\Documents/ProjetoSite-TCC-Desenvolvimento-de-Sistemas/app/images/ImageBack.jpg" alt="Sample photo">
            <div class="text">
                <h3>Back-end</h3>
                <p>We perform the service of creating the source code of your application (Back-end). This service is perfect for you client who already has part of the project done and seeks a professional completion.</p>
                <a href="https://api.whatsapp.com/send?phone=5517981806259&text=Ol%C3%A1%2C%20estou%20interessado%20na%20cria%C3%A7%C3%A3o%20de%20um%20Back-End!" class="button">Hire Now</a>
            </div>
        </article>
    </main>

    <a href="https://api.whatsapp.com/send?phone=5517981806259&text=Ol%C3%A1,%20estou%20interessado%20em%20seus%20SERVISOS!%20"> <img src="d:/Users/USUARIO\Documents/ProjetoSite-TCC-Desenvolvimento-de-Sistemas/app/images/Whatsapp.png" alt="" id="whatsapp"> </a>

    <a onclick="backToTop" href="#" id="fixed"> <img src="d:/Users/USUARIO\Documents/ProjetoSite-TCC-Desenvolvimento-de-Sistemas/app/images/PlanetEarth.png" alt="" id="planet"> <span class="hidden">Top</span></a>

    <footer class="footer" id="contact">
        <ul class="footer-menushare">

            <li><a href="#" class="icon-twitter"><span class="hidden">Twitter</span></a></li>
            <li><a href="#" class="icon-instagram"><span class="hidden">Instagram</span></a></li>
            <li><a href="https://github.com/VitorBusnardo" class="icon-github"><span class="hidden">GitHub</span></a></li>
            <li><a href="#" class="icon-linkedin"><span class="hidden">Linkedin</span></a></li>
            <li><a href="#" class="icon-paypal"><span class="hidden">PayPal</span></a></li>
        </ul>

        <p>Copyright © 2020 All Rights Reserved</p><br>
        <p>Vitor Busnardo - Developer ( Front - End / Back - End ) +55 17 981806259</p>
        <p>busnardovitor@gmail.com</p>
        <p>Paulo Santos - Developer ( Front - End / Back - End ) +55 17 997263634</p>
        <p>ps0465882@gmail.com</p>
    </footer>

    <script>
        window.onscroll = function() {

            scroll();

        };

        function scroll() {

            let btn = document.getElementById("fixed");
            if (document.documentElement.scrollTop > 50) {

                btn.style.display = "block";

            } else {

                btn.style.display = "none";

            }

        }

        function backToTop() {

            document.documentElement.scrollTop = 0;

        }
    </script>


</body>

</html>