@charset "UTF-8";
#bg{

    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    display: none;

} 

#bg:target{

    display: block;

} 

#bg:target ~ .box{

    top:1950px;
    transition: all .3s;
    transition-delay: .2s;

} 

.box{

    width: 520px;
    height: 405px;
    position: absolute;
    margin-left: -260px;
    left: 50%;
    top:-410px;
}

.box img{

    width: 100%;
    position: absolute;


}    

#close {

    color: #fff;
    font-family: 'Arial';
    text-decoration: none;
    font-size: 35px;
    position: absolute;
    background-color: #000;
    width: 40px;
    height: 40px;
    text-align: center;
    right: 0;


}

#close:hover {

    opacity: .6;


}

@media screen and (min-width: 48.75em){

  #bg:target ~ .box{

    top:1650px;
    transition: all .3s;
    transition-delay: .2s;

} 

.box{

    width: 720px;
    height: 405px;
    position: absolute;
    margin-left: -350px;
    left: 50%;
    top:-410px;
}

}

@media screen and (min-width: 62.5em){ /* 1000 / 16 */
    
  .box{

    width: 720px;
    height: 405px;
    position: absolute;
    margin-left: -360px;
    left: 50%;
    top:-410px;
}

  
#bg:target ~ .box{

  top:1600px;
  transition: all .3s;
  transition-delay: .2s;

} 

}

@media screen and (min-width: 74em){

  .box{

    width: 720px;
    height: 405px;
    position: absolute;
    margin-left: -360px;
    left: 50%;
    top:-410px;
}

  
#bg:target ~ .box{

  top:1250px;
  transition: all .3s;
  transition-delay: .2s;

} 


}