@charset "UTF-8";
.grid {
    margin: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    align-items: stretch;
}

.grid>article {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    text-align: center;
}

.grid>article:hover {
    transition: transform .1s ease-out;
    transform: translateY(5px);
}

.grid>article img {
    width: 100%;
}

.text {
    padding: 0 20px 20px;
}

.text>h3 {
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        margin: 0;
    }
}

@media (max-width: 500px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
        margin: 0;
    }
    .grid>article {
        text-align: center;
    }
}